<%= form_tag '/find', method: :post do %>
  <%= text_field_tag(
      :outward_day,
      params[:outward_day],
      placeholder: "Outward Day",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :outward_month,
      params[:outward_month],
      placeholder: "Outward Month",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :outward_year,
      params[:outward_year],
      placeholder: "Outward Year",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :outward_hour,
      params[:outward_hour],
      placeholder: "Outward Hour",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :outward_minutes,
      params[:outward_minutes],
      placeholder: "Outward Minutes",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :arrive_day,
      params[:arrive_day],
      placeholder: "Arrive Day",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :arrive_month,
      params[:arrive_month],
      placeholder: "Arrive Month",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :arrive_year,
      params[:arrive_year],
      placeholder: "Arrive Year",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :arrive_hour,
      params[:arrive_hour],
      placeholder: "Arrive Hour",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :arrive_minutes,
      params[:arrive_minutes],
      placeholder: "Arrive Minutes",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :origin,
      params[:origin],
      placeholder: "Origin",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :destiny,
      params[:destiny],
      placeholder: "Destiny",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :pets,
      params[:pets],
      placeholder: "Pets",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :passengers,
      params[:passengers],
      placeholder: "Passengers",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :adults,
      params[:adults],
      placeholder: "Adults",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :children,
      params[:children],
      placeholder: "Children",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :babies,
      params[:babies],
      placeholder: "Babies",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :vehicles,
      params[:vehicles],
      placeholder: "Vehicles",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :autos,
      params[:autos],
      placeholder: "Autos",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :trailers,
      params[:trailers],
      placeholder: "Trailers",
      class: "form-control"
  ) %>
  <%= text_field_tag(
      :motorbikes,
      params[:motorbikes],
      placeholder: "Motorbikes",
      class: "form-control"
  ) %>
  <%= submit_tag("Search") %>
<% end %>
